
.padding {
  &--small {
    padding: 40px;
  }

  &--tiny {
    padding: 20px;
  }

  &--top-large {
    padding-top: 120px;
  }

  &--top-medium {
    padding-top: 55px;
  }

  &--top-small {
    padding-top: 40px;
  }

  &--top-tiny {
    padding-top: 20px;
  }

  &--bottom-tiny {
    padding-bottom: 20px;
  }
  &--bottom-small {
    padding-bottom: 40px;
  }

  &--bottom-large {
    padding-bottom: 120px;
  }

  &--bottom-medium {
    padding-bottom: 55px;
  }

  &--bottom-medium-large {
    padding-bottom: 210px;
  }

  @media screen and (max-width: $breakpoint-max-sm) {
    &--top-large {
      padding-top: 60px;
    }

    &--top-medium {
      padding-top: 30px;
    }

    &--bottom-large {
      padding-bottom: 70px;
    }

    &--bottom-medium {
      padding-bottom: 30px;
    }
  }
}

.margin {
  &--top-xlarge {
    margin-top: 240px;
  }
  &--top-large {
    margin-top: 160px;
  }

  &--top-medium {
    margin-top: 80px;
  }

  &--top-60 {
    margin-top: 60px;
  }

  &--right-medium {
    margin-right: 40px;
  }

  &--left-none {
    margin-left: 0 !important;
  }

  &--top-small {
    margin-top: 34px;
  }

  &--top-tiny {
    margin-top: 20px;
  }

  &--top-nano {
    margin-top: 10px;
  }

  &--right-nano {
    margin-right: 10px !important;
  }

  &--top-none {
    margin-top: 0px;
  }

  &--bottom-large {
    margin-bottom: 160px;
  }

  &--bottom-medium {
    margin-bottom: 80px;
  }

  &--bottom-small {
    margin-bottom: 50px;
  }

  &--bottom-30 {
    margin-bottom: 30px;
  }

  &--bottom-tiny {
    margin-bottom: 20px;
  }

  &--bottom-nano {
    margin-bottom: 10px;
  }

  &--bottom-none {
    margin-bottom: 0 !important;
  }

  &--left-small {
    margin-left: 40px;
  }

  @media screen and (max-width: $breakpoint-max-md) {
    &--top-large {
      margin-top: 60px;
    }

    &--top-medium {
      margin-top: 40px;
    }

    &--bottom-large {
      margin-bottom: 60px;
    }

    &--bottom-medium {
      margin-bottom: 40px;
    }

    &--top-60 {
      margin-top: 20px;
    }

    &--bottom-60 {
      margin-bottom: 20px;
    }
  }

  @media screen and (max-width: $breakpoint-max-sm) {
    &--top-small {
      margin-top: 10px;
    }

    &--bottom-small {
      margin-bottom: 10px;
    }
  }
}

.table {
  display: table;
  width: 100%;
  height: 100%;

  &__cell {
    display: table-cell;
  }
}

.vertical {
  &--align-middle {
    vertical-align: middle;
  }
}

.display {
  &--none {
    display: none;
  }

  &--none-imp {
    display: none !important;
  }

  &--inline-block {
    display: inline-block;
  }

  @media screen and (max-width: $breakpoint-max-xs) {
    &--xs-none {
      display: none;
    }

    &--xs-block {
      display: block;
    }
  }

  @media screen and (max-width: $breakpoint-max-sm) {
    &--sm-none {
      display: none !important;
    }

    &--sm-block {
      display: block;
    }

    &--sm-inline-block {
      display: inline-block;
    }
  }

  @media screen and (max-width: $breakpoint-max-md) {
    &--md-none {
      display: none;
    }

    &--md-block {
      display: block;
    }
  }
}

.float {
  &--left {
    float: left;
  }

  &--right {
    float: right;
  }
}

.clearfix {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.position--relative {
  position: relative;
}
