$color-text-highlight: #FFE469;
$color-white: #FFFFFF;
$color-black: #000000;
$color-light-gray: rgb(163, 163, 163);
$color-gray: #f5f2f2;
$color-darkgray: #2c2c2c;
$color-category: #B1B1B1;
$color-email: #FCBB35;
$color-twitter: #0097D8;
$color-facebook: #4469AF;
$color-whatsapp: #63D06E;
$color-red: #e1251b;
$color-orange: #e8960c;
$color-blue: #0b5a81;
$color-lightblue: #85acd0;
$color-white-transparent: rgba(255,255,255,0.5);
$color-white-transparent-20: rgba(255,255,255,0.2);


// Extra small devices (portrait phones, less than 576px)
$breakpoint-max-xs: 575px;
// Small devices (landscape phones, less than 768px)
$breakpoint-max-sm: 767px;
// Medium devices (tablets, less than 992px)
$breakpoint-max-md: 991px;
// Large devices (desktops, less than 1200px)
$breakpoint-max-lg: 1199px;

* { margin: 0; padding: 0; border: 0; outline: 0; text-decoration: none; }

@import "grid";
@import "typography";
@import "helpers";
@import "owl.carousel";

//General


.bg--fullblue {
  background-color: $color-blue;
}
.bg--red {
  background-color: $color-red;
}
.bg--transparent-blue {
  background-color: rgba(11, 90, 129, 0);
}

//Header Styles
.header{
  // height: 75px;
  width: 100%; 
  display: inline-block;
  color: $color-white;
  
  &__overlay {
    width: 100%;

    &--dark {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(11, 90, 129, 0.0));
    }
  }

  .bg--blue {
    background-color:rgba(11, 90, 129, 0);   
  }

  &__logo {
    display: inline-block;
    padding-top: 11%;

    .text {
      font-weight: 600;
      font-size: 25px;

      span {
        font-size: 15px;
        font-weight: 200;
      }
    }

    @media screen and (max-width: $breakpoint-max-sm ) {

      padding-left: 15px;

      .text {
        font-size: 20px;
        span {
          font-size: 13px;
        }
      }
    }
  }


  &__nav {
    float: right;
    text-align: center;
    
    @media screen and (max-width: $breakpoint-max-sm ) {
      width: 100%;
    }

    ul {
      @media screen and (max-width: $breakpoint-max-sm ) {
        background-color: $color-blue;
      }
    }
    
    li {
      display: inline-block;
      margin-right: -4px;
      color: #FFFFFF;
      font-size: 15px;    
      font-weight: 400;
      transform: skew(-10deg);
    }
    
    li a {
      padding: 40px 35px 19px 35px;
      display: block;

      @media screen and (max-width: $breakpoint-max-md ) {       
        padding: 40px 30px 19px 30px;    
      }

      @media screen and (max-width: $breakpoint-max-sm ) {
        padding: 25px 120px;
        margin-left: auto;
        margin-right: auto;
      }
    }

    li:last-child a {
      background-color: orange;
      &:hover {
        color: $color-blue;
        background-color: white;  
      }
    }

    li a:hover {      
      color: $color-blue;
      background-color: white;  
    }  
    .text {
      transform: skew(10deg);
    } 
  }


  &__hbgr{
    display: none;

    @media screen and (max-width: $breakpoint-max-sm ) {
      display: block;
      color: #FFFFFF;
      float: right; 
      padding: 22px;
      top: -35%;
      left: -35%;
      right: -35%;
      bottom: -35%;
    }
  }
}

.hero-footer {
  color:white;
  background: url(../images/7.jpg) no-repeat center center;
  background-size: cover; 
  overflow: hidden;

  &__overlay {
    width: 100%;

    &--blue {
      background: rgba(11, 90, 129, 0.35);
    }
    
  }

  h3, h4, h5{
    font-weight: 400;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.671);
  }

  &__text {  
    .color--blue {       
      color: $color-blue;
    }
    .color--white {
      color: $color-white;
    } 
  }

  .cta {

    margin-left: 10px;
    display: inline-block;
    a {
      display: block;
      background-color: $color-orange;
      color: $color-white;
      transform: skew(-10deg);
      z-index: 1;     
      padding: 17px 29px;
      font-size: 18px;

      span {
        display: block;
        transform: skew(10deg);    
      }
    } 
  }

  
  .cta .button2 {
      
    margin-left: 10px;
    background-color: $color-white;

    span {
      color: $color-orange;
    }

    &:hover {
      background-color: $color-orange;

      span {
        color: $color-white;
      }

    }
  }

  .cta a:hover {
    background-color: $color-white;
    span {
      color: $color-orange;
    }
  }

  @media screen and (max-width: $breakpoint-max-md ) {

    h3 {
      font-size: 25px;
      line-height: 35px;
    }
  }

  @media screen and (max-width: $breakpoint-max-sm ) {
    &__text {
      padding-left: 20px;
    }
    h3 {
      font-size: 18px;
      line-height: 20px;
    }
    h5 {
      font-size: 14px;
      line-height: 20px;
    }
    .cta {
      padding: 8px 10px;
      a {
        font-size: 12px;
      }
    }
  } 
}

.hero {

  color:white;
  background: url(../images/hero.jpg) no-repeat center center;
  background-size: cover; 
  overflow: hidden;

  &__overlay {
    width: 100%;

    &--blue {
      background: rgba(11, 90, 129, 0.35);
    }
    
  }

  h3, h4, h5{
    font-weight: 400;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.671);
  }

  &__text {  
    .color--blue {       
      color: $color-blue;
    }
    .color--white {
      color: $color-white;
    } 
  }

  .cta {

    margin-left: 10px;
    display: inline-block;
    a {
      display: block;
      background-color: $color-orange;
      color: $color-white;
      transform: skew(-10deg);
      z-index: 1;     
      padding: 17px 29px;
      font-size: 18px;

      span {
        display: block;
        transform: skew(10deg);    
      }
    } 
  }

  
  .cta .button2 {
      
    margin-left: 10px;
    background-color: $color-white;

    span {
      color: $color-orange;
    }

    &:hover {
      background-color: $color-orange;

      span {
        color: $color-white;
      }

    }
  }

  .cta a:hover {
    background-color: $color-white;
    span {
      color: $color-orange;
    }
  }

  @media screen and (max-width: $breakpoint-max-md ) {

    h3 {
      font-size: 25px;
      line-height: 35px;
    }
  }

  @media screen and (max-width: $breakpoint-max-sm ) {
    &__text {
      padding-left: 20px;
    }
    h3 {
      font-size: 18px;
      line-height: 20px;
    }
    h5 {
      font-size: 14px;
      line-height: 20px;
    }
    .cta {
      padding: 8px 10px;
      a {
        font-size: 12px;
      }
    }
  } 
}

.about{
  background-color: $color-white;

  h5 {
    font-size: 20px;
    font-weight: 400;
    color: $color-blue;
  }

  @media screen and (max-width: $breakpoint-max-sm ) {  
    &__text {
      text-align: left;
      margin-bottom: -30px;
    }
    p {
      font-size: 13px;
      
    }  
  }
  
  &__block {

    text-align: center;
    img {
      width: 50%;
    } 

    .material-icons {
      padding-top: 17px;
      color: $color-blue;
      font-size: 35px;
    }

    .icon__circle {
      margin: auto;
      height: 70px;
      width: 70px;
      background-color: $color-white;
      border-radius: 35px;
      border: 1px solid rgba(16, 131, 189, 0.144);
    }

    p {
      font-size: 13px;
      line-height: 19px;
      padding: 0px 0px;
    }
    
    @media screen and (max-width: $breakpoint-max-md ) {
      margin-bottom: 20px;
      padding: 0 40px;
      p {
        padding: 0px 2px;
      }
    }

    @media screen and (max-width: $breakpoint-max-sm ) {  
      padding: 20px 0; 
    }
  }
}

.klanten{

  h5 {
    color: $color-blue; 
    font-size: 20px;

    @media screen and (max-width: $breakpoint-max-sm ) { 
      line-height: 26px;  
    }
  }

  p {
    padding: 10px 20px 30px 0px;

    @media screen and (max-width: $breakpoint-max-md ) { 
      padding: 0 10px;
      font-size: 13px;
    }

    @media screen and (max-width: $breakpoint-max-sm ) { 
      padding: 0 0 20px 0;
      font-size: 13px;
    }
  }

  &__text {
    @media screen and (max-width: $breakpoint-max-md ) { 
      padding-left: 20px;
    }
    @media screen and (max-width: $breakpoint-max-sm ) { 
      padding-left: 0;
    }
  }
  

  .owl-carousel {
    position: relative;
    top: -103px;
    width: 100%;
    
    @media screen and (max-width: $breakpoint-max-md ) { 
      width: calc(100% - 80px);  
      margin-left: 40px;
    }
  }

  .owl-carousel .owl-item img{
    width: auto;
    max-height: 50px;
    max-width: 170px;  
    margin-left: 60px;

    @media screen and (max-width: $breakpoint-max-md ) { 
      max-width: 150px;
      margin-left: auto;
      margin-right: auto;      
    }

    @media screen and (max-width: $breakpoint-max-sm ) { 
      max-width: 130px;
    }
  }

  .table {
    width: 100%;
    height: 100px; 

    .center-table {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    } 
  }

  .owl-prev, .owl-next {
    display: block;
    color: white;
    background-color: $color-blue;
    padding: 10px;
    font-size: 13px;
    position: absolute;
    top: 35%;
  }

  .owl-prev {   
    left: -17px;  

    @media screen and (max-width: $breakpoint-max-md ) { 
      left: -20px;    
    }

    @media screen and (max-width: $breakpoint-max-sm ) { 
      left: -30px;  
    }
  } 

  .owl-next {
    right: 10px;

    @media screen and (max-width: $breakpoint-max-md ) { 
      right: -20px;  
    } 

    @media screen and (max-width: $breakpoint-max-sm ) { 
      right: -30px;  
    }
  }

  .separator {
    position: relative;
    height: 100px;
  } 

  .line-separator {
    position: absolute;
    right: 20px;
    height: 95px;
    width: 1px;  
    background: rgba(16, 131, 189, 0.144);

    @media screen and (max-width: $breakpoint-max-md ) { 
      display: none;
    }

    @media screen and (max-width: $breakpoint-max-sm ) { 
      display: none;
    }
  } 

  @media screen and (max-width: $breakpoint-max-md ) { 
    .bg--white {
      margin-bottom: -40px; 
    }
  }
}

.bg--grey {
  background-color:#F5F8FA; 
}

.bg--white {
  background-color: #FFFFFF; 
}

.work {
  display : block;
    
  &__text, &__title{

    h5 {     
      line-height: 1.5;   
    }
    p {
      padding-right: 20px;
    }

    @media screen and (max-width: $breakpoint-max-md ) {
      margin-left: 30px;
      p {
        padding-top: 10px;
        font-size: 13px;
      }
    }

    @media screen and (max-width: $breakpoint-max-sm ) {
      margin-left: 0px;
      h5 {
        text-align: center;
      }
      p {
        padding-top: 10px;
      }
    }
  }

  &__photo {    
    padding-top: 0px;  

    img {
      width: 100%;
      object-fit: cover;
      font-family: 'object-fit: cover;';
    }

    @media screen and (max-width: $breakpoint-max-md ) {
      padding: 15px 25px 0 0;
    }

    @media screen and (max-width: $breakpoint-max-sm ) {
      padding: 40px 0 10px 0;
    }
  }

  .work__title {
    display: block;
    @media screen and (max-width: $breakpoint-max-md ) {     
      display: none;
    }
  }

  .work__title--hidden {
    display: none;
    @media screen and (max-width: $breakpoint-max-md ) {     
      display: block;
      h5 {
        line-height: 1;
        padding-bottom: 10px;
      }
    }
  }
}

.tools {
  .bg--grey {
    @media screen and (max-width: $breakpoint-max-sm ) {
      padding-top: 0px;
    }

  }
  


  &__title {
    margin-bottom: -10px;
    @media screen and (max-width: $breakpoint-max-sm ) {
    margin-bottom: -25px;
    }
  }

  &__intro {

    &--title {
      @media screen and (max-width: $breakpoint-max-sm ) {
        padding-top: 25px;
        margin-bottom: -30px;
      }
    }
    &--text {
      h6 {
        text-align: center;
      }
      img {
        width: 50%;
      }   

      .material-icons {   
        padding-top: 19px;
        color: $color-blue;
        font-size: 35px;
      }

      .icon__circle {
        text-align: center;
        margin: auto;
        height: 70px;
        width: 70px;
        border-radius: 35px;
        border: 1px solid rgba(16, 131, 189, 0.144);
      }

      p {
        font-size: 13px;
        line-height: 19px;
        padding: 0 10px;
      }
      
      @media screen and (max-width: $breakpoint-max-md ) {
        margin-bottom: 20px;
        padding: 0 40px;
        p {
          padding: 0px 2px;
        }
      }

      @media screen and (max-width: $breakpoint-max-sm ) {  
        padding: 20px 0; 
      }
    }
  }

  &__block {
    display: inline-block;
    
    p {
      padding: 0 20px;

      @media screen and (max-width: $breakpoint-max-sm ) {
        padding: 0;
      }
    }

    &--picture {    
      padding: 0 20px;  
      img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        font-family: 'object-fit: cover;';
        
      }
      @media screen and (max-width: $breakpoint-max-sm ) {
      padding: 40px 0 10px 0;
      }
    }

    &--text {

      ul {
        padding-left: 35px;
        list-style-type: circle;
        line-height: 1.5;
        @media screen and (max-width: $breakpoint-max-sm ) {
          padding-left: 15px;
        }
      }

      li { 
        padding-bottom: 7px;
        font-size: 15px;
        color: rgba(11, 90, 130, 0.5);
      }
    }
  }
}

.FAQ {
  background-color: $color-white;

  .question {
    background-color: #F5F8FA;
    color: $color-blue;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border-top:1px solid rgba(11, 90, 130, 0.062);
  }

  .question:after {
    content: '\002B';
    color: $color-blue;
    float: right;
    margin-left: 5px;
  }
  
  .question.active, .question:hover {
    background-color: $color-blue;
    color: #F5F8FA;
  }

  .question:hover:after {
    color:#F5F8FA;
  }

  .question.active:after {
    content: "\2212";
    color:#F5F8FA;
  }

  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    a {
      text-decoration: underline;
    }
  }
}

.faq__text {
  a {
    text-decoration: underline;
  }
}

hr { 
  display: block;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 1px;
  color: #e7eef2;
}






.footer {
  
  display: inline-block;
  width: 100%;
  background-color: $color-darkgray;
  text-align: left;

  h6 {
    font-weight: 400;
    margin-top:25px;
    color: #85acd0;
    margin-left: 0px;
  }

  ul {
    list-style-type: none;
  }

  li {
    text-decoration: underline;
    color: #FFFFFF;
    font-size: 13px;
    line-height: 1.5;
  }

  li:hover {
    text-decoration: none;
    cursor: pointer;
  }

  @media screen and (max-width: $breakpoint-max-md ) {

    .grid__container {
      padding-left: 5%;
    }
  }

  @media screen and (max-width: $breakpoint-max-sm ) {
    
    li, h6 {
      margin-left: 10px; 
    }
  }
}
