.footer {
    // display: flex;

    &-cols {
        // text-align: center;
        // background-color: violet;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        // align-items: center;
        // width: 100%;
    }



    ul {
        list-style: none;
    }

}

