.header {
    height: 80px;
    background-color: $color-blue;
    color: $color-white;

    .topnav {
        height: 80px;
        // background-color: violet;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .topnav .icon {
        display: none;
    }
}