.flex__wrapper{
  display: flex;
  flex-wrap: wrap;
}

.flex__grow{
  flex-grow: 1;
}

.flex__vertical-align{
  align-items: center;
  height: 100%;
}

.no-border{
  border: 0 none !important;
}

.no-padding{
  padding: 0;
}

.block{
  display: block;
}

.inline-block{
  display: inline-block;
}

.space-between{
  justify-content: space-between;
}

.align-right{
  text-align: right;
}

.align-left{
  text-align: left;
  @media screen and (max-width: $breakpoint-max-sm) {
  &--sm{
    text-align: left;
  }
  }
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: .2s ease;
  &--black{
    background: rgba(0,0,0,0.2);
  }
}

.align-center{
  text-align: center;
}

.text-with-bg{
  color: $color-black;
  display: inline;
  background-color: $color-white;
  padding: 0 15px;
  line-height: 1.2;
}

$directions: (top, right, bottom, left);
$sizes: (none: 0, x-nano: 8px, nano: 10px, half-step: 12.5px, step: 25px, 2-steps: 50px, 3-steps: 75px, 4-steps: 150px);

@mixin createSizeHelperOf($property,
  $sizes: $sizes,
  $directions: $directions) {

  @each $direction in $directions {
    @each $sizeId, $size in $sizes {
      .#{$property}--#{$direction}-#{$sizeId} {
        #{$property}-#{$direction}: $size;
      }
    }
  }
}

@include createSizeHelperOf(padding);
@include createSizeHelperOf(margin);


.table {
  display: table;
  width: 100%;
  height: 100%;

  &__cell {
    display: table-cell;
  }
}

.vertical {
  &--align-middle {
    vertical-align: middle;
  }
}

.display {
  &--none {
    display: none;
  }

  &--none-imp {
    display: none !important;
  }

  &--inline-block {
    display: inline-block;
  }

  @media screen and (max-width: $breakpoint-max-xs) {
    &--xs-none {
      display: none;
    }

    &--xs-block {
      display: block;
    }
  }

  @media screen and (max-width: $breakpoint-max-sm) {
    &--sm-none {
      display: none !important;
    }

    &--sm-block {
      display: block;
    }

    &--sm-inline-block {
      display: inline-block;
    }
  }

  @media screen and (max-width: $breakpoint-max-md) {
    &--md-none {
      display: none;
    }

    &--md-block {
      display: block;
    }
  }
}

.float {
  &--left {
    float: left;
  }

  &--right {
    float: right;
  }
}

.clearfix {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.position--relative {
  position: relative;
}

.position--absolute {
  position: absolute;
}
