.intro {
  display: flex;
  // align-items: center;

  &-text {
    // background-color: blue; 
  }
  &-image {
    // background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 181px;
    }
  }


  @media screen and (max-width: $breakpoint-max-sm) {
    img {
      display: block;
      
    }
  }
}