.intro {
  display: flex;
  align-items: center;

  img {
    width: 178px;
    height: 100%;
  }

  @media screen and (max-width: $breakpoint-max-sm) {
    img {
      display: block;
      
    }
  }
}