.method {
    // display: flex;
    // flex: 1 1 0;
    // align-items: center;
    // justify-content: center;
    
    &-image {
        // background-color: violet;
        display: flex;
        justify-content: center;

        img {
            width: 98px;
            height: 100%;
        }
    }

    &-text {
        // background-color: blue;
    }

    @media screen and (max-width: $breakpoint-max-sm) {
        img {
            display: none;
        }
    }
}