.method {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // width: 100%;
  
  .image {
    // display: flex;
    // justify-content: center;
    // height: 100%;
  }
  img {
    width: 105px;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
  }
}