.nieuws {
    
    &-block {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-block-text {
        // height: 308px;
        // overflow-y: auto;
        // background: white;
        position: relative;


        &--left {
            padding-right: 25px;
        }
        &--right {
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    // &-block-text::after {
    //     content: '';
    //     position: absolute;
    //     bottom: 0;
    //     width: 240px;
    //     height: 25px;
    //     background: linear-gradient(
    //       rgba(255, 255, 255, 0.001),
    //       black
    //     ); /* transparent keyword is broken in Safari */
    //     pointer-events: none;
    //   }
}