.nieuws {
    
    &-block {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-block-text {
        // background-color: yellow;
        // height: 308px;
        // overflow-y: auto;
        // background: white;
        position: relative;


        &--left {
            padding-right: 25px;
        }
        &--right {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}