.header {
    // box-shadow: 0px 0px 45px -10px rgba(168, 163, 168, 0.78);

    display: flex;
    align-items: center;
    font-size: $fs-1;
    height: 90px;
    background-color: white;
    width: 100%;
  
    .navbar {
        width: 100%;
        display: inline-block;
        color: $color-grey;
        font-weight: 700;
        height: 90px;
        line-height: 90px;
    
        li {
            padding: 0 15px;
            font-size: 15px;
        }
        a {
            padding: 10px 0;
        }
    
        a.logo {
            img{
            width: 150px;
            }
        }
    
        ul li img {
            vertical-align: middle;
        }
    
        // Contains styling for first-level list items
        & > ul > li {
            position: relative;
            display: inline-block;
            margin-left: -4px;
    
            // Specifies dropdown and dropdown item styling
            // & > ul {
            //     position: absolute;
            //     box-shadow: 0 1px 3px rgba(0,0,0,0.06), 0 1px 2px rgba(0,0,0,0.12);
            //     background-color: $color-yellow;
            //     width: auto;
            //     line-height: 25px;
            //     color: $color-white;
            //     overflow: hidden;
            //     max-height: 0; /* approximate max height */
            //     transition: all .5s ease;
                
            //     &.no-effect{
            //         transition: 0s;
            //     }
        
            //     & > li {
            //         list-style-type: none;
            //         // z-index: 99;
            //         transition: .2s;
            //         padding-right: 7.5px;
        
            //         & > a {
            //         text-align: left;
            //         padding: 10px 15px;
            //         display: block;
            //         white-space: nowrap;
            //         opacity: 0;
            //         transform: translateX(-10px);
            //         transition: .2s ease;
            //         }
            //     }
            // }
    
            // If current list item is hovered, find dropdowns and make it display block
            &:hover {
                color: $color-blue;
                text-decoration: underline;
    
    
                & > ul {
                    max-height: 500px;
                    //display: block;
                }

                // li {
        
                //     @for $i from 1 through $dropdownItems {
                //         &:nth-child(#{$i}) {
                //             a{
                //             opacity: 1;
                //             transform: translateX(0px);
                //             transition-delay: #{($i * 0.06)}s;
                //             }
                //         }
                //     }
                // }
            }
    
            & > a,
            & > ul > li > a {
    
    
            display: block;
    
            .navbar__item--text-default {
                position: absolute;
                width: 100%;
                // left: 0;
            }
    
            .navbar__item--text-hover {
                position: relative;
                font-weight: 700;
                opacity: 0;
            }
    
            &:hover {
                .navbar__item--text-default {
                opacity: 0;
                }
    
                .navbar__item--text-hover {
                opacity: 1;
                }
            }
            }
    
            & > a {
            color: inherit;
            padding: 0 12px;
    
            .navbar__item--text-default {
                left: 0;
            }
            }
        }
    }
  
    .navbar-toggle{
      display: none;
    }
  
  
  
  }
  
  
  @media screen and (max-width: $breakpoint-max-sm) {
  
    .header {
      
      // z-index: 150;
      position: fixed;
      top: 0;
      left:0;
      width: 100%;
      height: 50px;
  
      #menuToggle
   {
     display: block;
     position: relative;
     top: 35px;
     left: 35px;
     z-index: 1;
     -webkit-user-select: none;
     user-select: none;
   }
   
   #menuToggle input
   {
     display: block;
     width: 40px;
     height: 32px;
     position: absolute;
     top: -7px;
     left: -5px;
     
     cursor: pointer;
     
     opacity: 0; /* hide this */
     z-index: 2; /* and place it over the hamburger */
     
     -webkit-touch-callout: none;
   }
   
   /*
    * Just a quick hamburger
    */
   #menuToggle span
   {
     display: block;
     width: 33px;
     height: 4px;
     margin-bottom: 5px;
     position: relative;
     
     background: #cdcdcd;
     border-radius: 3px;
     
     z-index: 1;
     
     transform-origin: 4px 0px;
     
     transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                 background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                 opacity 0.55s ease;
   }
   
   #menuToggle span:first-child
   {
     transform-origin: 0% 0%;
   }
   
   #menuToggle span:nth-last-child(2)
   {
     transform-origin: 0% 100%;
   }
   
   /* 
    * Transform all the slices of hamburger
    * into a crossmark.
    */
   #menuToggle input:checked ~ span
   {
     opacity: 1;
     transform: rotate(45deg) translate(-2px, -1px);
     background: #232323;
   }
   
   /*
    * But let's hide the middle one.
    */
   #menuToggle input:checked ~ span:nth-last-child(3)
   {
     opacity: 0;
     transform: rotate(0deg) scale(0.2, 0.2);
   }
   
   /*
    * Ohyeah and the last one should go the other direction
    */
   #menuToggle input:checked ~ span:nth-last-child(2)
   {
     transform: rotate(-45deg) translate(0, -1px);
   }
   
   /*
    * Make this absolute positioned
    * at the top left of the screen
    */
   #menu
   {
     position: absolute;
     width: 300px;
     margin: -100px 0 0 -50px;
     padding: 50px;
     padding-top: 125px;
     
     background: #ededed;
     list-style-type: none;
     -webkit-font-smoothing: antialiased;
     /* to stop flickering of text in safari */
     
     transform-origin: 0% 0%;
     transform: translate(-100%, 0);
     
     transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
   }
   
   #menu li
   {
    //  padding: 10px 0;
     font-size: 20px;
   }
   
   /*
    * And let's slide it in from the left
    */
   #menuToggle input:checked ~ ul
   {
     transform: none;
   }
  }
  
  $menuItems: 7;
  
  .toggled .navbar ul{
    max-height: 5000px;
    transition: max-height .3s ease-in;
    li{
  
      @for $i from 1 through $menuItems {
        &:nth-child(#{$i}) {
          a{
            opacity: 1;
            transform: translateX(0px);
            transition-delay: #{($i * 0.07)}s;
  
          }
        }
    }
    }
  }
  }  